@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
0   - 600px   Phone
600 - 900px   Tablet Portrait
1200 - 1800px Tablet Landscape
1800 -        Big

$breakpoints:
- phone
- tab-port
- tab-land
- big

1em == 16px (with default font size)

Order
- Base + Typography
- General layout and grid
- page layout
- Components
 */
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content }   //600px
  }
  @else if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }  //900px
  }
  @else if $breakpoint == tab-port-w {
    @media only screen and (max-width: 65.625em) { @content }  //1050px
  }
  @else if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content }     //1200px
  }
  @else if $breakpoint == big {
    @media only screen and (min-width: 112.5em) { @content }  //1800px
  }
  @else {
    @error "oh no..."
  }
}
